.user__panel {
   display: flex;
   align-items: center;
   flex-direction: column;
   min-height: 100vh;
   position: relative;
}
.user__panel button {
   margin-block: 0.6em;
}
.user__bookings-header {
   margin-block: 1em;
   text-align: center;
   font-size: 1.5rem;
}
.user__bookings-list {
   display: flex;
   align-items: center;
   gap: 1em;
   margin-bottom: 1em;
}
.user__bookings-img {
   width: 15em;
   height: 10em;
   object-fit: cover;
   border-radius: 0.3em;
}
.user__bookings {
   text-align: center;
   margin-block: 2em;
}
.user__panel-btns {
   display: flex;
   gap: 1em;
   margin-top: 6em;
}
.user-panel-btn {
   padding: 0.3em 0.8em;
   color: #01b2c9;
   border-radius: 1em;
   cursor: pointer;
   font-weight: 400;
   min-width: fit-content;
   border: 1px solid #01b2c9;
   transition: 0.4s;
}
.user-panel-btn:hover:not(:has(.current-page)) {
   background: linear-gradient(90deg, #01b2c9 0%, #0077a6 100%);
   color: #fff;
}
.current-page {
   background: linear-gradient(90deg, #01b2c9 0%, #0077a6 100%);
   color: #fff;
}
