.comment__section {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-inline: auto;
   max-width: 46em;
   padding: 1em;
}
.posts__wrapper {
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   gap: 1em;
}
.post {
   display: flex;
   padding: 0.8em;
   border-radius: 0.8em;
   position: relative;
   background-color: #e5e5e5;
}
.text {
   resize: none;
   background-color: #e5e5e5;
   border: none;
   width: 35em;
   /* min-height: 4em; */
}
.details__wrapper {
   display: flex;
   justify-content: space-between;
}
.post__btns {
   position: absolute;
   top: 1em;
   right: 1em;
}
.btn-delete {
   margin-left: 1em;
}
.user__info {
   display: flex;
   align-items: center;
   margin-bottom: 1em;
}
.username {
   margin-left: 1em;
   font-weight: 500;
}
.evaluate {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0.4em;
   margin-right: 1em;
   border-radius: 0.4em;
   max-height: 5em;
   background-color: #f0f0f0;
}
.create__comment {
   display: flex;
   padding-block: 3em;
}
.user-comment {
   resize: none;
   margin-inline: 1em;
   width: 30em;
   height: 6em;
   border-radius: 0.6em;
   padding: 0.4em;
   outline: none;
}
.user-avatar {
   width: 2.8em;
   height: 2.8em;
   border-radius: 50%;
   padding: 0.2em;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #01b2c9;
}
.user-img {
   font-size: 1.5rem;
   opacity: 0.6;
}
.user-img-create {
   font-size: 1.8rem;
   opacity: 0.6;
}
/* .user-img {
   width: 2.8em;
   height: 2.8em;
   border-radius: 50%;
   padding: 0.2em;
   border: 1px solid #01b2c9;
   object-fit: cover;
   background-color: #bbbbbb;
} */
.btn-send {
   height: min-content;
   padding: 0.4em 1em;
}
.comment__section-header {
   padding-bottom: 1em;
}
.add-comment-header {
   padding-top: 1em;
}
.active {
   background-color: #f0f0f0;
   border: 1px solid #dddddd;
   border-radius: 0.6em;
   padding: 0.4em;
}
.disabled {
   opacity: 0.4;
   cursor: not-allowed;
}

@media screen and (max-width: 700px) {
   .create__comment {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .user-comment {
      width: 25em;
   }
}
