.user__panel {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-height: 100vh;
   margin-top: 6em;
}
.user__bookings-header {
   margin-block: 1em;
   text-align: center;
   font-size: 1.5rem;
}
.user__bookings-list {
   display: flex;
   align-items: center;
   gap: 1em;
   margin-bottom: 1em;
}
.user__bookings-img {
   width: 10em;
   height: 10em;
   object-fit: cover;
   border-radius: 0.3em;
}
