.auth__container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   position: relative;
}
.login {
   position: absolute;
   background: rgba(255, 255, 255, 0.3);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(9px);
   -webkit-backdrop-filter: blur(9px);
   border-radius: 10px;
   text-align: center;
   width: 22em;
   min-height: 27em;
   padding: 2.6em;
   border-radius: 0.6em;
   margin-inline: auto;
}
.auth__header {
   font-size: 2em;
}
.login__wrapper {
   margin-top: 2em;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.login__wrapper input {
   width: 100%;
   border-radius: 0.3em;
   outline: none;
   border: none;
   padding: 0.4em 0.8em;
}
.login__wrapper label {
   opacity: 0.8;
   font-size: 0.9rem;
   padding-block: 0.5em;
}
.auth-btn {
   margin-block: 2em;
   margin-inline: auto;
   padding: 0.2em 1em;
}
.signin-span {
   text-decoration: underline;
   color: #1c51ad;
   padding-left: 0.4em;
}
.signin-span:hover {
   cursor: pointer;
   color: #0b3680;
}
