@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* ----RESET---- */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --lightest-navy: #233554;
  --green: #64ffda;
  --white: #f0f0f0;
  --light-grey: #efefef;
  --f-color: #2a2a2a;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --blue: #1943cf;
  --lightGrey: #f6f6f8;

  /* background-color: #f6f3f3;
  color: #213547;

  color: #e8e8e8;
  color: rgba(0, 0, 0, 0.87);
  color: rgb(13 148 136); */

  /* background-color: #694ae9;
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  background: #fff;
  background: linear-gradient(rgb(6 182 212), rgb(20 184 166));
  background: rgb(17 24 39); */
}

/* page style */
html {
  scroll-behavior: smooth;
  width: 100%;
}
body {
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  /* color: var(--white); */
  background-color: var(--light-grey);
}
.container {
  max-width: 1920px;
  margin-inline: auto;
  position: relative;
}
.hero {
  position: relative;
}
.hero__video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.hero__header {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  /* color: #563c3a; */
  color: var(--white);
  font-size: 3rem;
  line-height: 1.2;
}
.hero__header span {
  font-size: 6rem;
}

/* SINGLEPLACE PAGE */
.single {
  max-width: 1920px;
  margin-inline: auto;
}
.single__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 50em;
  padding: 2em;
  gap: 2em;
  margin-inline: auto;
  color: #233554;
}
.single__img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  border-radius: 1em;
}
.single__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.single__details {
  width: 15em;
  display: flex;
  flex-direction: column;
}
.single-description {
  width: 60%;
}
.single__btn {
  margin-top: 1em;
  width: 7em;
  text-align: center;
}
