.popup__wrapper {
   position: fixed;
   top: 2%;
   left: 50%;
   transform: translateX(-50%);
}
.popup__box {
   z-index: 9;
   padding: 0.2em 0.6em;
   border-radius: 0.4em;
   background-color: #fff;
   font-size: 1.2em;
}
.add {
   animation: popup 2s linear forwards;
}
.error {
   color: #ff0000;
}
.success {
   color: #25bb22;
}
.info {
   color: #2722bb;
}

@keyframes popup {
   0% {
      transform: translateY(-150%);
      opacity: 0;
   }
   10% {
      transform: translateY(0);
      opacity: 1;
   }
   90% {
      transform: translateY(0);
      opacity: 1;
   }
   100% {
      transform: translateY(-150%);
      opacity: 0;
   }
}
