.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.8em;
   padding-block: 1em;
   background: #e4e4e4;
}
.footer__media-icons {
   display: flex;
   gap: 0.8em;
   font-size: 1.2rem;
}
.fa-github:hover,
.fa-linkedin {
   cursor: pointer;
}
.footer__media-icons:hover .fa-brands:not(:hover) {
   opacity: 0.6;
}
