.star__rating {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-left: 2em;
}
.star__rating-header {
   font-weight: 700;
}
.star__rating-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}
.overall__travel-rating p {
   margin-block: 0.6em;
}
.star {
   font-size: 2em;
}
.on {
   color: #037dad;
}
.off {
   color: #ccc;
}
.overall__travel-rating p:first-child {
   margin-block: 0.8em;
}

@media screen and (max-width: 850px) {
   .star__rating {
      margin-left: 0;
   }
}
