.travel-sum {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 1.5em;
   padding: 0.8em;
   position: relative;
}
.cost {
   font-weight: 500;
   font-size: 1.4rem;
   padding-bottom: 0.4em;
}
.cost-wrapper {
   padding-bottom: 1em;
}
.cost-wrapper span {
   font-style: italic;
}
.fa-plane {
   color: #0098ad;
}
